@use 'vars';
#NotFound-Container{
    background-color: #0079D8;
    height: 75vh;
    color: #FFF;
    padding: 5em;
}

#sadFace{
    font-size: 12em;
    font-weight: bold;
}

#title{
    font-size: 5em;
}

#explicacionHumilde{
    font-size: 1.8em;
}